body {
  width: calc(1100px - 2px);
}
thead > tr > th {
  border-bottom: 0;
  height: 20px;
}
thead th,
tbody th {
  background-color: #0000ff;
  border: solid 1px white;
  color: white;
  text-align: center;
  font-size: 9pt;
  font-weight: normal;
}
td, th {
  padding: 0;
}
td {
  display:flex;
  flex-direction: row;
  align-items: baseline;
}
table input {
  padding: 0;
  width: 50px;
}
input[type="date"]{
  width: 190px;
}
input[type="time"],
input[type="number"]{
  width: 50%;
}
select {
  width: 110px;
  height: 22px;
  border: 1px solid #0000ff;
}
tbody tr.selected-record {
  background-color: #dbdbff;
}

tbody tr.selected-record input {
  background-color: #dbdbff;
}
button {
  height: 20px;
  width: 100px;
}
/* basic setting */
.input__title {
  width: initial;
  padding: 0 3px 0 3px;
}
/* =============page layout=============== */
.main__wrapper {
  padding: 0;
  height: 380px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left__wrapper {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.left__wrapper > .input__wrapper {
  height: 280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.left__wrapper > .table__wrapper {
  height: calc(400px - 280px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.right__wrapper {
  width: 220px;
  height: 100%;
  border-left: 1px dotted #0000ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.mid__wrapper {
  width: 275px;
  height: 100%;
  border-left: 1px dotted #0000ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.button__wrapper {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.summary__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(598px - 30px - 380px - 1px);
}
/* =============page layout end=============== */
/* =============input elements =============== */
.input-block__outer {
  height: 35px;
  width: initial;
  margin: 0 3px 0 3px;
}
#file-upload__input {
  display: none;
}
#file-upload__input + label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #0000ff;
  width: 200px;
  height: 20px;
}
#press-direction_file {
  display: none;
}
#press-direction-date__select {
  display: none;
}
#rackqty__input {
  border-right: 0;
}
#start-term,
#end-term {
  width: 120px;
}

#select_ordersheet {
  padding: 0;
  margin: 0;
  width: 62px;
}
/* =============input elements end =============== */
/* =============== TABLES  ==================== */
.left__wrapper tbody {
  overflow-y: unset;
}
#preview__button {
  height: 22px;
  width: 50px;
  margin: 0;
}

#input_table_1 tr th:nth-child(1),
#input_table_1 tr td:nth-child(1) {
  width: 70px;
}
#input_table_1 tr th:nth-child(2),
#input_table_1 tr td:nth-child(2) {
  width: 160px;
}
#input_table_1 tr th:nth-child(2),
#input_table_1 tr td:nth-child(2) {
  width: 160px;
}

/* summary table */
#summary__table tr.no-display {
  display: none;
}

/* summary table */
#summary__table {
  width: 1020px;
}
#summary__table tbody {
  height: 120px;
}
#summary__table th {
  padding: 0;
}

/* id */
#summary__table tr th:nth-child(1),
#summary__table tr td:nth-child(1) {
  display: none;
}

/* date */
#summary__table tr th:nth-child(2),
#summary__table tr td:nth-child(2) {
  width: 40px;
  text-align: center;
}
/* Press Number */
#summary__table tr th:nth-child(3),
#summary__table tr td:nth-child(3) {
  width: 20px;
}
#summary__table tr td:nth-child(3) {
  text-align: center;
}
/* Die Name */
#summary__table tr th:nth-child(4),
#summary__table tr td:nth-child(4) {
  width: 100px;
}
#summary__table tr td:nth-child(4) {
  text-align: left;
}
/* Die_id */
#summary__table tr th:nth-child(5),
#summary__table tr td:nth-child(5) {
  display: none;
}
/* Order Sheet */
#summary__table tr th:nth-child(6),
#summary__table tr td:nth-child(6) {
  width: 100px;
}
/* Press Type */
#summary__table tr th:nth-child(7),
#summary__table tr td:nth-child(7) {
  width: 25px;
}

#summary__table tr td:nth-child(7) {
  text-align: center;
  font-family: "MS ゴシック";
}

/* Press Type_id */

#summary__table tr th:nth-child(8),
#summary__table tr td:nth-child(8) {
  display: none;
}
/* is Washed */
#summary__table tr th:nth-child(9),
#summary__table tr td:nth-child(9) {
  width: 42px;
}

#summary__table tr td:nth-child(9) {
  text-align: center;
}

/* is Washed_id */

#summary__table tr th:nth-child(10),
#summary__table tr td:nth-child(10) {
  display: none;
}

/* billet lot */

#summary__table tr th:nth-child(11),
#summary__table tr td:nth-child(11) {
  width: 130px;
}

/* B/S */

#summary__table tr th:nth-child(12),
#summary__table tr td:nth-child(12) {
  width: 23px;
}

#summary__table tr td:nth-child(12) {
  text-align: right;
}

/* Billet Length */

#summary__table tr th:nth-child(13),
#summary__table tr td:nth-child(13) {
  width: 35px;
}

#summary__table tr td:nth-child(13) {
  text-align: right;
}

/* Plan Billet Qty */

#summary__table tr th:nth-child(14),
#summary__table tr td:nth-child(14) {
  width: 37px;
}

#summary__table tr td:nth-child(14) {
  text-align: right;
}

/* Actual Billet Qty */

#summary__table tr th:nth-child(15),
#summary__table tr td:nth-child(15) {
  width: 37px;
}

#summary__table tr td:nth-child(15) {
  text-align: right;
}

/* Stop Cause */

#summary__table tr th:nth-child(16),
#summary__table tr td:nth-child(16) {
  width: 150px;
}

#summary__table tr td:nth-child(16) {
  text-align: right;
}

/* Start Finish time */

#summary__table tr th:nth-child(17),
#summary__table tr td:nth-child(17),
#summary__table tr th:nth-child(18),
#summary__table tr td:nth-child(18) {
  width: 48px;
}

#summary__table tr td:nth-child(17),
#summary__table tr td:nth-child(18) {
  text-align: right;
}

/* Ramspeed Dietemp */

#summary__table tr th:nth-child(19),
#summary__table tr td:nth-child(19),
#summary__table tr th:nth-child(20),
#summary__table tr td:nth-child(20) {
  width: 50px;
}
#summary__table tr td:nth-child(22) {
  display: none;
}

#summary__table tr td:nth-child(19),
#summary__table tr td:nth-child(20) {
  text-align: right;
}
/* Press Directive Sheet */
#summary__table tr th:nth-child(21),
#summary__table tr td:nth-child(21) {
  width: 50px;
}
#summary__table tr td:nth-child(21) {
  text-align: center;
}