body {
  width: calc(970px - 2px);
  height: calc(700px - 2px);
}
thead > tr > th {
  border-bottom: 0;
  height: 20px;
}
thead th,
tbody th {
  background-color: #0000ff;
  border: solid 1px white;
  color: white;
  text-align: center;
  font-size: 9pt;
  font-weight: normal;
}
td, th {
  padding: 0;
}

table input {
  padding: 0;
  width: 100%;
}
input[type="date"]{
  width: 120px;
}
input {
  height: 20px;
}
select {
  width: 160px;
  height: 22px;
  border: 1px solid #0000ff;
}
tbody tr.selected-record {
  background-color: #dbdbff;
}

tbody tr.selected-record input {
  background-color: #dbdbff;
}
button {
  height: 20px;
  width: 100px;
}
.input__title {
  width: initial;
  padding: 0 3px 0 3px;
}
/* =============page layout=============== */
.main__wrapper {
  padding: 0;
  /* height: 95%; */
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: dotted 1px #0000cc;
}
.left__wrapper {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.mid__wrapper {
  width: 50%;
  height: 100%;
  border-left: 1px dotted #0000ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.right__wrapper {
  width: 26.7%;
  height: 100%;
  border-left: 1px dotted #0000ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.button__wrapper {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.summary__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(598px - 30px - 380px - 1px);
}
.input-block__outer {
  height: 35px;
  width: initial;
  margin: 0 3px 0 3px;
}
#file-upload__input {
  display: none;
}
#file-upload__input + label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #0000ff;
  width: 200px;
  height: 20px;
}
#press-direction_file {
  display: none;
}
#press-direction-date__select {
  display: none;
}

#file_upload {
  display: none;
}
#file_upload + label {
  background-color: white;
  cursor: pointer;
  width: 150px;
  /* height: 20px; */
  color: red;
}
#preview__button {
  width: 50px;
  height: 20px;
  margin: 0;
}
#add_rack__button {
  width: 50px;
}
#start-term,
#end-term {
  width: 120px;
}

#select_ordersheet {
  padding: 0;
  margin: 0;
  width: 62px;
}
#save_washing_date {
  width: 50px;
  padding: 0;
  margin: 0;
  border: 0;
}
/* =============input elements end =============== */
/* =============== TABLES  ==================== */
.left__wrapper tbody {
  overflow-y: unset;
}
#input_table_1 tr td {
  display:flex;
  flex-direction: row;
  align-items: baseline;
}
#input_table_1 tr th:nth-child(1),
#input_table_1 tr td:nth-child(1) {
  width: 110px;
}
#input_table_1 tr th:nth-child(2),
#input_table_1 tr td:nth-child(2) {
  width: 110px;
}

#washing_date__table tbody {
  width: 220px;
  height: 175px;
}
#washing_date__table tr td {
  flex-direction: row;
  align-items: baseline;
}
#washing_date__table tr th:nth-child(1),
#washing_date__table tr td:nth-child(1) {
  display: none;
}
#washing_date__table tr th:nth-child(2),
#washing_date__table tr td:nth-child(2) {
  width: 80px;
}
#washing_date__table tr th:nth-child(3),
#washing_date__table tr td:nth-child(3) {
  width: 120px;
}

#add_new_line {
  width: 25px;
  margin: 0;
  padding: 0;
  border: 0;
}
#add_new__table tbody {
  width: 485px;
  height: 175px;
  overflow: auto;
}
#add_new__table tr th:nth-child(1),
#add_new__table tr td:nth-child(1) {
  display: none;
}
#add_new__table tr th:nth-child(2),
#add_new__table tr td:nth-child(2) {
  width: 160px;
}
#add_new__table tr th:nth-child(3),
#add_new__table tr td:nth-child(3) {
  width: 120px;
}
#add_new__table tr th:nth-child(4),
#add_new__table tr td:nth-child(4),
#add_new__table tr th:nth-child(5),
#add_new__table tr td:nth-child(5),
#add_new__table tr th:nth-child(6),
#add_new__table tr td:nth-child(6) {
  width: 59px;
}

#output_rack_table tbody {
  height: 240px;
  width: 260px;
}
#output_rack_table tr th:nth-child(1),
#output_rack_table tr td:nth-child(1) {
  display: none;
}
#output_rack_table tr th:nth-child(2),
#output_rack_table tr td:nth-child(2) {
  width: 100px;
}
#output_rack_table tr th:nth-child(3),
#output_rack_table tr td:nth-child(3) {
  width: 80px;
}
#output_rack_table tr th:nth-child(4),
#output_rack_table tr td:nth-child(4) {
  width: 60px;
}


#washing_data__table tbody {
  width: 700px;
  height: 335px;
}
#washing_data__table tr th:nth-child(1),
#washing_data__table tr td:nth-child(1) {
  display: none;
}
#washing_data__table tr th:nth-child(2),
#washing_data__table tr td:nth-child(2) {
  width: 150px;
}
#washing_data__table tr th:nth-child(3),
#washing_data__table tr td:nth-child(3),
#washing_data__table tr th:nth-child(4),
#washing_data__table tr td:nth-child(4) {
  width: 50px;
}
#washing_data__table tr th:nth-child(5),
#washing_data__table tr td:nth-child(5) {
  width: 30px;
}
#washing_data__table tr td:nth-child(3),
#washing_data__table tr td:nth-child(4),
#washing_data__table tr td:nth-child(5) {
  text-align: center;
}
#washing_data__table tr th:nth-child(6),
#washing_data__table tr td:nth-child(6) {
  width: 150px;
}
#washing_data__table tr th:nth-child(7),
#washing_data__table tr td:nth-child(7) {
  width: 60px;
}
#washing_data__table tr th:nth-child(8),
#washing_data__table tr td:nth-child(8),
#washing_data__table tr th:nth-child(9),
#washing_data__table tr td:nth-child(9),
#washing_data__table tr th:nth-child(10),
#washing_data__table tr td:nth-child(10) {
  width: 60px;
}

.no-display {
  display: none;
}

.data_selected-record td:nth-child(n + 5) {
  background-color: rgb(253, 1, 253);
}
