.left__wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 65%;
}
.right__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 65%;
}
.top__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}
.button__wrapper {
  display: flex;
  flex-direction: row;
}
.bottom__wrapper {
  width: 100%;
  height: 20%;
}
input {
  text-align: left;
}
#file_upload {
  /* width: 270px; */
  display: none;
}
#file_upload + label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #0000ff;
  width: 300px;
  height: 20px;
}
#preview__button {
  width: 50px;
  margin: 0;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.input-block__outer {
  width: 100%;
}
.input_title {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: right;
}
.input__title {
  width: 80px;
}
.input_title input {
  height: 20px;
}
.time--input {
  width: 300px;
}
.gas-input {
  width: 150px;
}
#gas_start,
#gas_end {
  width: 60px;
}
#homo_start,
#homo_end {
  width: 160px;
}
#save__button,
#update__button {
  width: 50px;
  height: 22px;
}

#data__table tbody {
  height: 230px;
  overflow: hidden;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
#data__table tbody #selected__row {
  background-color: #6db8ff;
}

#data__table tr th:nth-child(1),
#data__table tr td:nth-child(1) {
  display: none;
}
#data__table tr th:nth-child(2),
#data__table tr td:nth-child(2) {
  width: 50px;
  text-align: left;
}
#data__table tr th:nth-child(n+3),
#data__table tr td:nth-child(n+3) {
  width: 50px;
  text-align: center;
}
#data__table tr td:nth-child(n+3) input {
  width: 48px;
  text-align: center;
  /* border: none; */
  padding: 0;
}
#data__table tr td:nth-child(n+3) select {
  width: 50px;
  text-align: center;
  /* border: none; */
  padding: 0;
}
#data__table tr td:nth-child(n+3) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#casting__table tbody {
  height: 350px;
  /* width: 480px; */
  overflow: auto;
}
#casting__table thead tr th:nth-child(1),
#casting__table tbody tr td:nth-child(1) {
  display: none;
}
#casting__table thead tr th:nth-child(2),
#casting__table tbody tr td:nth-child(2),
#casting__table thead tr th:nth-child(3),
#casting__table tbody tr td:nth-child(3) {
  width: 50px;
}
#casting__table thead tr th:nth-child(4),
#casting__table tbody tr td:nth-child(4),
#casting__table thead tr th:nth-child(5),
#casting__table tbody tr td:nth-child(5) {
  width: 80px;
}

#summary_table tbody {
  height: 155px;
  width: 545px;
  overflow: auto;
}
#summary_table thead tr th:nth-child(1),
#summary_table tbody tr td:nth-child(1) {
  display: none;
}
#summary_table thead tr th:nth-child(2),
#summary_table tbody tr td:nth-child(2) {
  width: 30px;
}
#summary_table thead tr th:nth-child(3),
#summary_table tbody tr td:nth-child(3),
#summary_table thead tr th:nth-child(4),
#summary_table tbody tr td:nth-child(4) {
  width: 120px;
}

#summary_table thead tr th:nth-child(5),
#summary_table tbody tr td:nth-child(5),
#summary_table thead tr th:nth-child(6),
#summary_table tbody tr td:nth-child(6),
#summary_table thead tr th:nth-child(7),
#summary_table tbody tr td:nth-child(7) {
  width: 80px;
}
#staff_id {
  width: 200px;
}
.staff_id_title {
  width: 80px;
}
.staff_id_outer {
  width: 300px;
  margin-right: 10px;
}
.code_outer {
  width: 500px;
}